body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  font-family: inherit;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

/* =========================Header ===========================*/
/* ==========================Logo============================ */
.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-black {
  color: #2e2f42;
}

.white-logo {
  color: #f4f4fd;
}

.menu-list {
  display: none;
  gap: 40px;
}

.address {
  display: none;
  font-style: normal;
}

.burger-button {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.burger-button:hover,
.burger-button:focus {
  fill: #404bbf;
}

/* =================================TABLET================================== */

@media screen and (min-width: 768px) {
  .header-container {
    min-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .logo {
    margin-right: 120px;
  }
  /* ==========================Menu============================  */
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .first-link {
    position: relative;
    color: #404bbf;
  }

  .first-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .contact-list-item-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-item-link:hover,
  .contact-list-item-link:focus {
    color: #404bbf;
  }

  .burger-button {
    display: none;
    width: 24px;
    height: 24px;
  }
}

/* ==================================DESKTOP================================== */

@media screen and (min-width: 1158px) {
  .header-container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .logo {
    margin-right: 76px;
  }

  .contact-list-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* =================================/DESKTOP================================== */
/* =================================/HEADER================================== */

/* ================================= MAIN ================================== */
/* ================================= HERO ================================== */

.order-container {
  max-width: 440px;
}
.order {
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      url("../images/bg/people-office-mob.jpg") 1x,
      url("../images/bg/people-office-mob@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  text-align: center;
  padding: 72px 0;
}

.order-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 72px;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* =================================TABLET================================== */

@media screen and (min-width: 768px) {
  .order-container {
    min-width: 768px;
  }

  .order {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/bg/people-office-tab.jpg") 1x,
        url("../images/bg/people-office-tab@2x.jpg") 2x
      );
    padding: 112px 0;
  }

  .order-title {
    line-height: 1.07;
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }
}

/* =================================/TABLET================================== */
/* ==================================DESKTOP================================== */

@media screen and (min-width: 1158px) {
  .order-container {
    min-width: 1158px;
  }

  .order {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/bg/people-office-desk.jpg") 1x,
        url("../images/bg/people-office-desk@2x.jpg") 2x
      );
    padding: 188px 0;
  }

  .order-title {
    margin-bottom: 48px;
  }
}
/* ==================================/DESKTOP================================== */
/* ================================= /HERO ================================== */
/* ================================= ABOUT-US ================================== */
.about-us {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-us-container {
  width: 320px;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.about-us-icon {
  display: none;
}

.about-us-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-us-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =================================TABLET================================== */

@media screen and (min-width: 768px) {
  .about-us-container {
    width: 768px;
  }

  .about-us-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .about-us-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .about-us-list-title {
    text-align: start;
  }
}

/* =================================/TABLET================================== */
/* ==================================DESKTOP================================== */
@media screen and (min-width: 1158px) {
  .about-us-container {
    width: 1158px;
  }

  .about-us-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .about-us-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .about-us-icon {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .about-us-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }

  .about-us-list-text {
    font-weight: 400;
  }
}
/* ==================================/DESKTOP================================== */
/* ==================================/ABOUT-US================================== */

/* ==================================OUR-CREW================================== */
.our-crew-container {
  padding: 0 16px;
  margin: 0 auto;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  overflow: hidden;
}

.team-list-item {
  flex: 1;
  width: 100%;
  padding: 32px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link-icon {
  fill: #f4f4fd;
}

/* ==================== TABLET ==================== */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

/* ==================== DESKTOP ==================== */
@media screen and (min-width: 1158px) {
  .our-crew-container {
    width: 1158px;
    margin: 0 auto;
  }

  .team {
    padding: 120px 0;
  }

  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* ==================================/OUR-CREW================================== */

/* ===================================PORTFOLIO================================== */

.portfolio {
  padding: 96px 0;
}

.portfolio-container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.portfolio-list-item {
  width: 100%;
  max-width: 380px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  display: block;
}

.portfolio-img-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.portfolio-list-item:hover .portfolio-img-description {
  transform: translateY(0);
}

.list-div-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    justify-content: center;
    gap: 72px 24px;
  }

  .portfolio-list-item {
    flex: 0 0 336px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 24px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .portfolio {
    padding: 120px 0;
  }
}

/* ==================Footer============== */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  max-width: 268px;
  gap: 16px;
}

.footer-logo {
  margin-bottom: 16px;
  padding: 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 264px;
}

.social-media {
  text-align: center;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.socilal-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  width: 100%;
  max-width: 320px;
  text-align: center;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-subsribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.input-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background: transparent;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
  box-shadow: 0 4px 4px 0 #00000026;
  color: #fff;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-svg-button {
  margin-left: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 0;
    width: 768px;
    padding-left: 108px;
  }

  .social-media {
    text-align: start;
  }

  .footer-description {
    align-items: flex-start;
    margin-right: 24px;
    text-align: left;
  }

  .footer-subscribe {
    text-align: left;
    margin-left: 0px;
    max-width: none;
    margin-top: 72px;
  }

  .form-subsribe {
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }
}
/* =================== DESKTOP =================== */
@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 1158px;
    gap: 0;
  }

  .footer-description {
    align-items: flex-start;
    margin-right: 120px;
    text-align: left;
  }

  .footer-subscribe {
    text-align: left;
    margin-left: 80px;
    max-width: none;
  }

  .form-subsribe {
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }
}

/* ============== /SUBSCRIBE============ */
/* ==================/Footer============== */

/* ===========MODAL_OVERLAY=============== */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.user-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.user-name-div {
  position: relative;
}

.input-name-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-position {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name-field:focus {
  border-color: #4d5ae5;
}

.input-name-field:focus + .svg-position {
  fill: #4d5ae5;
}

.form-name {
  margin-bottom: 8px;
}
/* ==================== TEXT AREA ===================*/
.modal-text-area {
  margin-bottom: 16px;
}

.modal-textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

/*============== MODAL-CHECKBOX ============== */
.modal-checkbox {
  margin-bottom: 24px;
}

.privacy-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.empty-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;

  transform: translateY(7.5px);
}

.visually-hidden:checked + .privacy-description .empty-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 24px;
}

/* ============================= SUBMIT BUTTON ============================= */

.submit-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .empty-checkbox {
    transform: translateY(0px);
  }

  .privacy-link {
    margin-left: 0;
  }
}

/* ============================= SUBMIT BUTTON ============================= */
/*============================ /MODAL-CHECKBOX ============================= */

/* ================================MOB-MENU========================== */

.mob-menu-container {
  padding-top: 24px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  transform: translateX(0%);
}

.mob-menu-close-icon {
  fill: #2e2f42;
}

.mob-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: color;
  margin-left: auto;
  margin-bottom: 24px;
}

.mob-menu-close-button:hover,
.mob-menu-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.mob-menu-close-button:focus .mob-menu-close-icon,
.mob-menu-close-button:hover .mob-menu-close-icon {
  fill: #ffffff;
}

/* =========================MOB-MENU-NAV====================== */

.mob-menu-soc-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-soc-list-link:hover,
.mob-menu-soc-list-link:focus {
  color: #404bbf;
}

.mob-menu-soc-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-nav {
  margin-bottom: 168px;
}

/* ========================MOB-MENU-ADRESS==================== */

.menu-adrs-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.menu-adrs-link:hover,
.menu-adrs-link:focus {
  color: #404bbf;
}

.menu-adrs-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-adrs {
  margin-bottom: 48px;
}

/* ========================MOB-MENU-ICON-LIST==================== */

.mob-social-list-icon {
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
/* ================================/MOB-MENU========================== */
